<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
 <title>Product Recommondation system</title>
 <form action="http://127.0.0.1:5000/predict" method="post">
    <center><h1>Product Recommondation system</h1></center>
    <div style="margin-top: 30px;text-align: center;color: white;">
        <input type="text" name="reviews_username"  id="autoComplete" autocomplete="off" placeholder="Enter the user Name" style="background-color: #ffffff;border-color:#ffffff;width: 60%;color: #181818" required="required" />
        <br>
    </div>
    <div style="text-align: center;">
      <button type="submit" style="background-color: #e50914;text-align: center;border-color: #e50914;width:120px;">Enter</button><br><br>
    </div>
 </form>
</body>
</html>